<!-- <div>

  <div class="topnav">
    <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">all orders</a>
    <a [routerLink]="['/orders']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngIf='isLoggedIn'>my orders</a>
  </div>

  <mat-card *ngIf="isLoggedIn">
    <button mat-flat-button color="primary" (click)="logout()">logout</button>
  </mat-card>

  
  <router-outlet></router-outlet>
</div> -->

<!-- <div class="content" role="main"> -->
  <router-outlet></router-outlet>
<!-- </div> -->
