.spacer {
  flex: 1;
}

.toolbar {
  /* position: absolute; */
  /* top: 0;
  left: 0;
  right: 0; */
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar a, .toolbar input {
  margin: 0 16px;
  color:aliceblue;
}

.toolbar a, .toolbar input {
  opacity: 0.8;
}

/* input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


input[type=submit]:hover {
  opacity: 0.8;
} */
